target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
gradlew
gradlew.bat
nodelist.dat
.gradle
gradle
build
postgres-data

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr