<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">

        <!--css-->
        <link rel="stylesheet" th:href="@{/css/availabilityButton.css}"/>
        <link rel="stylesheet" th:href="@{/css/common.css}"/>
        <link rel="stylesheet" th:href="@{/css/lobby.css}"/>
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>

        <!--js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
        <script type="text/javascript" th:src="@{/js/websocket.js}"></script>-->

        <!--images-->
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <link rel th:href="@{/images/favicon.ico}" type="image/x-icon"/>

        <!--other-->
        <title th:text="${title}"></title>
    </head>
    <body>
    </body>
</html>