<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div id="readme" class="content">
            <hr>
            <h3>Important resources</h3>
            <hr>
            <p>ggxxnet (japanese)</p>
            <p><a href="https://github.com/ggnauthor/ggxxnet">https://github.com/ggnauthor/ggxxnet</a></p>
            <hr>
            <p>ggnlobby.cgi (japanese)</p>
            <p><a href="https://github.com/ggnauthor/ggxxnet/blob/master/ggxxnet/ggnlobby.cgi">https://github.com/ggnauthor/ggxxnet/blob/master/ggxxnet/ggnlobby.cgi</a></p>
            <hr>
            <p>ggnlobby.exe (russian)</p>
            <p><a href="https://drive.google.com/file/d/10Q38JFwAJeuoKWhZ_f7OT2fD43Pl30Sz/view">https://drive.google.com/file/d/10Q38JFwAJeuoKWhZ_f7OT2fD43Pl30Sz/view</a></p>
            <hr>
            <p>Gulti Gear XX Reload (steam version modified to play online)</p>
            <p><a href="https://drive.google.com/file/d/1YfZJs0DrxqLVGST6zF3QZe-Uw8PQnt-0/view">https://drive.google.com/file/d/1YfZJs0DrxqLVGST6zF3QZe-Uw8PQnt-0/view</a></p>
            <hr>
        </div>
    </body>
    <footer th:replace="fragments/footer :: footer"></footer>
</html>