<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<!--js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
-->
<script type="text/javascript" th:src="@{/js/pinger.js}"></script>
-->
<script type="text/javascript" th:src="@{/js/initCommons.js}"></script>
<script type="text/javascript" th:src="@{/js/startBattle.js}"></script>
<script type="text/javascript" th:src="@{/js/lobbyAudio.js}"></script>

<div th:replace="fragments/navbar :: navbar"></div>
<div class="content">
    <table id="lobby">
        <thead>
        <tr>
            <th scope="col" style="display:none;">id</th>
            <th scope="col">player</th>
            <th scope="col">status</th>
            <th scope="col">ping</th>
            <th scope="col">wins</th>
            <th scope="col">loses</th>
            <th scope="col">draws</th>
            <th scope="col">total</th>
            <th scope="col">w/l</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="playerData : ${playersLobbyData}">
                <td id="playerId" th:text="${playerData.id}" style="display:none;"></td>
                <td th:text="${playerData.nickname}"></td>
                <td><input th:name="${playerData.status}" type="button" class="availabilityButton"></td>
                <td id="ping" th:text="${playerData.ping}"></td>
                <td th:text="${playerData.totalWins}"></td>
                <td th:text="${playerData.totalLoses}"></td>
                <td th:text="${playerData.totalDraws}"></td>
                <td th:text="${playerData.totalGames}"></td>
                <td th:text="${playerData.winToLoses}"></td>
                <td><button type="submit" class="btn" onclick="onClickStartBattle()">Play</button></td>
            </tr>
        </tbody>

        <br><input type="text" id="gameLocationPath" placeholder="Put location of your ggxx here...">

        <audio id="lobbyAudio" autoplay loop>
            <source src="justice.mp3" type="audio/mpeg">
        </audio>
    </table>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>