<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="content">
            These are statistics
            <br>1
            <br>2
            <br>3
            <br>4
            <br>5
            <br>6
            <br>7
            <br>8
            <br>9
            <br>0
            <br>1
            <br>2
            <br>3
            <br>4
            <br>5
            <br>6
            <br>7
            <br>8
            <br>9
            <br>0
            <br>1
            <br>2
            <br>3
            <br>4
            <br>5
            <br>6
            <br>7
            <br>8
            <br>9
            <br>0
            <br>9
            <br>7
            <br>6
            <br>4
            <br>3
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
            <br>4
        </div>
    </body>
    <footer th:replace="fragments/footer :: footer"></footer>
</html>